<style>
.the1{
width: auto;
height: 300px;
background-color: #65A3FF;
background: url(Asset/Img/carinsurance.jpeg);
background-size: cover;
}
.the2{
    padding: 70px 40px 30px 80px;
}
.text0{

    text-align: center;
}
.text{
    width: 500px;
    height: 20px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: #000000;
    }
.text1{
    width: 200px;
    height: 30px;
    margin-left: 40px;
    background: #65A3FF;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 20px;
}
.text2{
    width: 350px;
    height: 24px;
    font-size: 14px;
color: #000000;
}
.text3{
    width: 300px;
    height: 35px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 34px;

color: #000000;
}
#myDiv0{
    margin-top: 30px;
}
.hr1{
    width: 350px;
    background-color: #d47810;
    margin: auto;
}

.option{
width: 1000px;
height: 170px;
margin-top: 10px;
margin-left: 80px;
font-family: 'Inter';
font-style: italic;
color: #000000;
font-size: 16px;
}
.myDiv1{
        display:none;
    }  
.myDiv2{
        display:none;
    }  
.myDiv{
        display:none;
    }  
    #showOne{
        border:1px ;
    }
    #showTwo{
        border:1px;
    }
    #showFour{
        border:1px;
    }
    #showThree{
        border:1px ;
    }
    #showFive{
        border:1px;
    }
    #showSix{
        border:1px;
    }

.tab-content{
    width: 100%;
}
.tab-pane{
    width: auto;
}
.text4{
    margin-left: 80px;
    margin-top: 10px;
}
.text5{
    margin-left: 80px;
    margin-top: 10px;
    font-size: 14px;
}
.text6{
    margin-left: 80px;
    margin-top: 10px;
    margin-right: 80px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
  margin-left: 130px;
  margin-right: 100px;
}

.grid-item1 {
    width: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-align: center;
  background: #ECE6AF;
box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
margin-right: 100px;
}
.grid-item2 {
    width: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-align: center;
  background: #ECE6AF;
box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
margin-right: 100px;
}
.text7{
margin-top: 20px;
margin-left: 80px;
font-family: 'Roboto';
font-style: italic;
font-weight: 700;
font-size: 30px;
display: flex;
}
.text8{
margin-top: 15px;
margin-left: 80px;
margin-bottom: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

}
.hr2{
    width: 200px;
    margin-left: 120px;
    border: 3px solid #d47810;
}
.hr3{
    width: 200px;
    margin-left: 120px;
    border: 3px solid #d47810;
}
.select{
    text-align: center;
    margin-left: 100px;
    margin-bottom: 15px;
    width: 850px;
    border: 1px solid ;
    box-shadow: 0px 4px 10px 5px rgba(100, 94, 94, 0.25);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-link{
    width: 370px;
    text-align: center;
}
.h44{
    font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 30px;
line-height: 29px;

color: #000000;
}
.icon{
    margin-top: 9px;
}
</style>
<div class="the1">
   <div class="the2 animate__animated animate__backInLeft">
        <div class="text">Are you paying too much for your car insurance?</div>
        <div class="text2"><i>Save more. Great insurance at affordable prices</i>  </div><br>
          
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Quote for yourself</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#!Car">Under 9 - Seaters</a></li>
                  <li><a class="dropdown-item" href="#!Car2">Above 9 - Seaters</a></li>
                  <li><a class="dropdown-item" href="#!LuxuryCar">Luxury Car</a></li>
                </ul>
            </div>
    </div>
</div>
   <div  class="container-fluid" id="myDiv0">
    <div class="row">
        <div class="col-md-2 "></div>

<div class="text0 animate__animated animate__backInDown">
    <h4 class="h44">Package offering</h4>
   <h3> <hr class="hr1" style="height: 5px;"></h3>
</div>

<div class="option animate__animated animate__backInRight">
    <b>Option 1:</b> Basic premium rate <br>
    <b>Option 2:</b> Option 1 + Non-depreciation for spare parts <br>
    <b>Option 3:</b> Option 1 + Repair at optional garage <br>
    <b>Option 4:</b>Option 1 + Flooded automobile <br>
    <b>Option 5:</b> Option 1 + Non-depreciation for spare parts + Repair at optional garage <br>
    <b>Option 6:</b> Option 1 + Repair at optional garage + Flooded automobile <br>
    <b>Option 7:</b> Option 1 + Non-depreciation for spare parts + Flooded automobile <br>
    <b>Option 8:</b> Option 1 + Non-depreciation for spare parts + Repair at optional garage + Flooded automobile.</div>


<div class="container mt-3">
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#home"><h6><b>Cars up to 9 seaters </b></h6></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu1"><h6><b>Cars above 9 seaters </b></h6></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu2"><h6><b>Luxury Car</b></h6></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
        <select class="select" id="myselection" ng-c ><br><br>
            <option value="">Please choose a cars up to 9 seaters insurance</option>
            <option value="One">Cars belong to Enterprise, Organization </option>
            <option value="Two">Private cars: Sum Insured below 500 mil VND  </option>
            <option value="Three">Private cars: Sum Insured from 500 mil to 600 mil VND </option>
            <option value="Four">Private cars: Sum Insured above 600 mil to 1,500 mil VND </option>
            <option value="Five">Private cars: Sum Insured above 1,500 mil VND </option>
        </select>
        <div id="showOne" class="myDiv">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list1 in car1">
                    <td>{{list1.id1}}</td>
                    <td>{{list1.op1}}</td>
                    <td>{{list1.op2}}</td>
                    <td>{{list1.op3}}</td>
                    <td>{{list1.op4}}</td>
                    <td>{{list1.op5}}</td>
                    <td>{{list1.op6}}</td>
                    <td>{{list1.op7}}</td>
                    <td>{{list1.op8}}</td>
                </tr>
            </table>
            </div>
            <div id="showTwo" class="myDiv">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list2 in car2 ">
                    <td>{{list2.id2}}</td>
                    <td>{{list2.op11}}</td>
                    <td>{{list2.op22}}</td>
                    <td>{{list2.op33}}</td>
                    <td>{{list2.op44}}</td>
                    <td>{{list2.op55}}</td>
                    <td>{{list2.op66}}</td>
                    <td>{{list2.op77}}</td>
                    <td>{{list2.op88}}</td>
                </tr>
            </table>
            <h6><i>Group I: Ha Noi, Ho Chi Minh City, Can Tho <br>
                Group II: The other cities (provinces)</i></h6>
        </div>
        <div id="showThree" class="myDiv">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list3 in car3">
                    <td>{{list3.id3}}</td>
                    <td>{{list3.op111}}</td>
                    <td>{{list3.op222}}</td>
                    <td>{{list3.op333}}</td>
                    <td>{{list3.op444}}</td>
                    <td>{{list3.op555}}</td>
                    <td>{{list3.op666}}</td>
                    <td>{{list3.op777}}</td>
                    <td>{{list3.op888}}</td>
                </tr>
            </table>
            <h6><i>Group I: Ha Noi, Ho Chi Minh City, Can Tho <br>
                Group II: The other cities (provinces)</i></h6>
        </div>

        <div id="showFour" class="myDiv">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list4 in car4">
                    <td>{{list4.id4}}</td>
                    <td>{{list4.op1111}}</td>
                    <td>{{list4.op2222}}</td>
                    <td>{{list4.op3333}}</td>
                    <td>{{list4.op4444}}</td>
                    <td>{{list4.op5555}}</td>
                    <td>{{list4.op6666}}</td>
                    <td>{{list4.op7777}}</td>
                    <td>{{list4.op8888}}</td>
                </tr>
            </table>
          </div>

          <div id="showFive" class="myDiv">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list5 in car5">
                    <td>{{list5.id5}}</td>
                    <td>{{list5.op11111}}</td>
                    <td>{{list5.op22222}}</td>
                    <td>{{list5.op33333}}</td>
                    <td>{{list5.op44444}}</td>
                    <td>{{list5.op55555}}</td>
                    <td>{{list5.op66666}}</td>
                    <td>{{list5.op77777}}</td>
                    <td>{{list5.op88888}}</td>
                </tr>
            </table>
          </div>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
        <select id="myselection1" class="select" ng-c ><br><br>
            <option value="">Please choose a cars above 9 seaters insurance</option>
            <option value="Nine">Enterprise, Organization and Private Cars above 9 seaters </option>
            <option value="Six">Enterprise, Organization and Private Cars above 9 seaters (non-transporting cars) </option>
        </select>
        <div id="showSix" class="myDiv1">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list6 in car6">
                    <td>{{list6.id6}}</td>
                    <td>{{list6.op111111}}</td>
                    <td>{{list6.op222222}}</td>
                    <td>{{list6.op333333}}</td>
                    <td>{{list6.op444444}}</td>
                    <td>{{list6.op555555}}</td>
                    <td>{{list6.op666666}}</td>
                    <td>{{list6.op777777}}</td>
                    <td>{{list6.op888888}}</td>
                </tr>
            </table>
            </div>
                
            <div id="showNine" class="myDiv1">
                <table class="table table-bordered table-hover">
                    <tr class="table-primary">
                        <th>Option</th>
                        <th>Option 1</th>
                        <th>Option 2</th>   
                        <th>Option 3</th>  
                        <th>Option 4</th>  
                        <th>Option 5</th>
                        <th>Option 6</th>   
                        <th>Option 7</th>  
                        <th>Option 8</th>          
                    </tr>
                    <tr ng-repeat="list9 in car9">
                        <td>{{list9.id9}}</td>
                        <td>{{list9.op111111111}}</td>
                        <td>{{list9.op222222222}}</td>
                        <td>{{list9.op333333333}}</td>
                        <td>{{list9.op444444444}}</td>
                        <td>{{list9.op555555555}}</td>
                        <td>{{list9.op666666666}}</td>
                        <td>{{list9.op777777777}}</td>
                        <td>{{list9.op888888888}}</td>
                    </tr>
                </table>
                </div>

    </div>
    <div id="menu2" class="container tab-pane fade"><br>
        <select id="myselection2" class="select" ng-c ><br><br>
            <option value="">Please choose luxury Car insurance</option>
            <option value="Seven">Private cars: Sum Insured below 1,500 bil VND </option>
            <option value="Eight">Private cars: Sum Insured above 1,500 bil VND </option>
        </select>
        <div id="showSeven" class="myDiv2">
            <table class="table table-bordered table-hover">
                <tr class="table-primary">
                    <th>Option</th>
                    <th>Option 1</th>
                    <th>Option 2</th>   
                    <th>Option 3</th>  
                    <th>Option 4</th>  
                    <th>Option 5</th>
                    <th>Option 6</th>   
                    <th>Option 7</th>  
                    <th>Option 8</th>          
                </tr>
                <tr ng-repeat="list7 in car7">
                    <td>{{list7.id7}}</td>
                    <td>{{list7.op1111111}}</td>
                    <td>{{list7.op2222222}}</td>
                    <td>{{list7.op3333333}}</td>
                    <td>{{list7.op4444444}}</td>
                    <td>{{list7.op5555555}}</td>
                    <td>{{list7.op6666666}}</td>
                    <td>{{list7.op7777777}}</td>
                    <td>{{list7.op8888888}}</td>
                </tr>
            </table>
            </div>

            <div id="showEight" class="myDiv2">
                <table class="table table-bordered table-hover">
                    <tr class="table-primary">
                        <th>Option</th>
                        <th>Option 1</th>
                        <th>Option 2</th>   
                        <th>Option 3</th>  
                        <th>Option 4</th>  
                        <th>Option 5</th>
                        <th>Option 6</th>   
                        <th>Option 7</th>  
                        <th>Option 8</th>          
                    </tr>
                    <tr ng-repeat="list8 in car8">
                        <td>{{list8.id8}}</td>
                        <td>{{list8.op11111111}}</td>
                        <td>{{list8.op22222222}}</td>
                        <td>{{list8.op33333333}}</td>
                        <td>{{list8.op44444444}}</td>
                        <td>{{list8.op55555555}}</td>
                        <td>{{list8.op66666666}}</td>
                        <td>{{list8.op77777777}}</td>
                        <td>{{list8.op88888888}}</td>
                    </tr>
                </table>
                </div>


    </div>
  </div>
</div>

<div class="text4">
    <b>From 24 months to under 36 months</b><br>
    Premium rate = Premium rate of 1 year protection x 2 x 95% <br>
    <b>From above 36 months</b><br>
    Premium rate = Premium rate of 1 year protection x 3 x 90%
</div>

<div class="text5">
    Note: The minimum premium (excluding Value Added Tax - VAT) for physical damage insurance for non-transporting cars up to 9 seats must be not less than VND 5,000,000 /vehicle/year.
</div>

<div class="grid-container">
    <div class="grid-item1"><br><h2><b>Benefits</b></h2>
        <hr class="hr2"><br>
         <h6><i class="fa-sharp fa-solid fa-check"></i> Coverage for physical damage to the insured car1</h6><br>
        <h6><i class="fa-sharp fa-solid fa-check"> </i> Third party liability insurance</h6> <br>
        <h6><i class="fa-sharp fa-solid fa-check"> </i>  Insurance for driver and passengers</h6><br>

    </div>
    <div class="grid-item2"><br><h2><b>Services</b></h2>
    <hr class="hr3"><br>
    <h6><i class="fa-sharp fa-solid fa-check"></i>  Immediate guidance on accident management and claim lodgment is offered via Bao Viet Insurance’s hotline (24/24) nationwide</h6>
    <h6><i class="fa-sharp fa-solid fa-check"></i>  Free rescue service is delivered within a radius of 70km from Bao Viet Insurance’s rescue center in big provinces </h6> 
    <h6><i class="fa-sharp fa-solid fa-check"></i>  Fast and convenient claim service</h6><br></div>
  </div>
  <div class="text7">
    <i class="fa-solid fa-share icon"></i>    Things you need to know
  </div>
  <div class="text8">
    <a href="Asset/Car insurance changes_Policy wordings_Physical damage.EN.pdf"><h6><i class="fa-solid fa-download"> </i>  Policy wording of Car insurance (Physical damage) (PDF, 1.5MB)</h6><br></a>
    <a href="Asset/Car insurance changes_Policy wordings_Insurance for driver and passengers.EN.pdf"><h6><i class="fa-solid fa-download"> </i>  Policy wording of Insurance for driver and passengers (PDF, 2.2MB)</h6><br></a>
    <a href="Asset/Car insurance changes_Premium of Third Party Liability and Accidents.EN.pdf"><h6><i class="fa-solid fa-download"> </i>  Third Party Liability Insurance (PDF, 129KB)</h6><br></a>
    <a href="Asset/Car insurance changes_Policy wordings_Third party liability insurance.EN.pdf"><h6><i class="fa-solid fa-download"> </i>  Policy wording of Third party liability insurance (PDF, 3.3MB)</h6></a>
  </div>

</div>
</div>

<script>
    $(document).ready(function(){
    $('#myselection').on('change', function(){
        var demovalue = $(this).val(); 
        $("div.myDiv").hide();
        $("#show"+demovalue).show();
    });

    $('#myselection1').on('change', function(){
        var demovalue = $(this).val(); 
        $("div.myDiv1").hide();
        $("#show"+demovalue).show();
    });

    $('#myselection2').on('change', function(){
        var demovalue = $(this).val(); 
        $("div.myDiv2").hide();
        $("#show"+demovalue).show();
    });
    
});
</script>
