<style>
    .Mcontent table, .Mcontent tr, .Mcontent td{
        
        width: 100%;
        text-align: center;
    }
    .Mcontent td{
        padding:8px;
        
    }
    .motorSelector1{
        width:290px;
        height: 32px;
        border-radius: 20px;
        background-color: #d9d9d9;
        border: 0;
        padding: 0 10px;
    }
    .motorSelector2{
        width:99%;
        height: 32px;
        border-radius: 20px;
        background-color: #d9d9d9;
        border: 0;
        padding: 0 10px;
        justify-content: center;
        display: flex;
        line-height: 32px;
    }
    .motorSelector3{
        border: 0;
        background-color: unset;
        padding: 0px 10px;
        width: 160px;
        color:#4B67FC;
        font-weight: bold
       
    }
    .motorSelector3{
        outline: none;
    }
    .motorSelector4{
        width:99%;
        height: 32px;
        border-radius: 20px;
        background-color: #FF9C29;
        color: white;
        border: 0;
        padding: 0 10px;
        justify-content: center;
        display: flex;
        line-height: 32px;
        font-weight: bold;
    }
    input.myCheckbox{
        vertical-align:middle ;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .MotorBut1{
        width: 118px;
        height: 38px;   
        background: #65A3FF;
        border-radius: 30px;
        font-weight: bold;
        color: white;
        border: 0;
    }
    .MotorBut1:hover{
        background-color: blue;
        opacity: 0.5;
    }
    .myPromotion{
        margin-top: 50px;
        height: 93px;
        width: 100%;
    }
    .promoBox{
        width: 320px;
        height: 93px;
        background-color: #D9D9D9;
        border-radius: 20px;
        padding: 20px 10px;
        display: flex;
        
        margin: auto;
    }
    .myPromotion table{
        width: 100%;  
    }
    .nexti{
        background-color: rgb(187, 187, 187);
        width: 30px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        float: left;
        border-radius: 10px;
        border: 0px;
        padding: 0;
        margin-left: auto;
        
        }
        .processContainer{
            width: 100%;
            background-color: #D9D9D9;
            margin-top: 50px;
            padding: 20px;
        }
        .Mtab1{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .Mbutton{
             width: 300px;
             height: 82px;
             font-size: 32px;             
             border-radius: 20px !important;
             
        }
        .contentBox2{
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            padding: 20px;
            
        }
        .subProcessContainer{
            width: 100%;
            
            display: flex;
            justify-content: center;
        }
        .Mbutton2{
           font-size: 20px;
           font-weight: bold;
           padding: 0px 30px;
           
        }
        .Mbutton2:active {
            background-color: #d9d9d9 !important;
            border-bottom: 0px !important;
            border-radius: 10px 10px 0 0;
        }
        .contentbox3{
            background-color: #d9d9d9!important;
            padding: 20px;
            border-radius: 10px;
        }
        
        .arrow1{
            font-size: 40px;
        }
        
        .processDes{
            text-align: center;
        }
        .Mcontent2{
            height: 380px;
            display: none;
        }
        .input_text1{
            background-color: unset;
            border: 0;
            width: 90%;
        }
        .input_text1:focus{
            outline: 0px;
        }
        .motorSelector5{
            margin: auto;
            width:80%;
            height: 32px;
            border-radius: 20px;
            background-color: #d9d9d9;
            border: 0;
            padding: 0 10px;
            justify-content: center;
            display: flex;
            line-height: 32px;
        }
        .payOption{
            display: flex;
        }
        .Policytxt{
            text-align: justify;
            font-size: 11pt;
        }
        .paymentContainer{
            width: 100%;
            height: 1024px;
            background-color:rgba(0, 0, 0, 0.8);
            display: none;  
            z-index: 100;
            position: fixed;
            left:0;

        }
        .CInfo{
            padding: 0 20px;
            margin-top: 50px;
            height: 320px;
            width: 636px ;
            background-color: #FFFFFF;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 2px;
        }
        .CInfo table{
            width: 100%;
        }
        .edit1{
            margin-top: 60px;
            margin-left: 20%;
            width: 118px;
            height: 38px;  
            background-color: #65A3FF;
            color: white;
            border-radius: 20px;
            font-size: 14pt;
            border: 0px;
        }
        .leftbox2{
            width: 100%;
            padding-left: 20px;
            height: 203px;
        }
        .leftbox1{
            width: 100%;
            height: 203px;
        }
        #next2:disabled{
            background-color: #5e5e5e;

        }
        .paymentSheet{
            padding: 20px 20px;
            margin-top: 50px;
            height: 700px;
            width: 500px ;
            background-color: #FFFFFF;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 2px;
        }
        .container2{
            display: flex;
            justify-content: space-around;
        }
        .cardType{
            display: flex;
            justify-content: space-around;
            
        }
        .cardType img:active{
            outline: #4B67FC;
        }
        .list-item-clicked{    
            border: px solid rgb(34, 3, 233);
        }
        .cardInfo1{
            margin-top: 30px;
            
        }
        .cardInfo1 table td{
            
            padding: 0 20px;
        }
        .supInput{
            height:40px;
            
        }
        .motorSelector11{
        border: 0;
        background-color: unset;
        padding: 0px 10px;
        width: 160px;
        
        outline: none;
       
    }
    .checkout{

            margin-top: 20px;
            width: 100%;
            height: 50px;  
            background-color: #65A3FF;
            color: white;
            border-radius: 20px;
            font-size: 14pt;
            border: 0px;
    }
    .checkarrow{
        float: right;
        margin-right: 20px;
        
    }
</style>
<div class="container-fluid" ng-controller="Ctr2">
<!-- payment container -->
    <div class="paymentContainer" id="paymentContainer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="container2">
                    <div class="CInfo">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <h3>Order information</h3>
                                    <hr width="100%">
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:1px solid rgb(190, 190, 190); width: 50%;">
                                    <div class="leftbox1">
                                        <b>Contact</b>
                                        <p style="margin-left:20px;">Full name: {{clientName}} <br>
                                            Email: {{clientEmail}} <br> 
                                            Phone: {{clientPhone}}<br>
                                        </p>
                                        <button class="edit1" id="editbtn"><i class="bi bi-arrow-left" ></i> Edit</button>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="leftbox2">
                                        <b>Insurance</b>
                                        <p style="margin-left:20px;">
                                            Type: {{type}} <br>
                                            License plate status: {{plateStatus}} <br>                                             
                                            Option: {{year}} <br>
                                            License plate number: <br>
                                            <input type="text" placeholder="Please enter your plate number">
                                        </p>                                        
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="paymentSheet">
                        <div>
                            <h3 style="margin-bottom:20px;margin-left: 10px;">Card Detail</h3>
                            <p style="margin-left:10px">Card type</p>
                            
                            <div class="cardType">
                                <div class="mdc-list-item"><img src="./Asset/img/Visa.png" width="130px" alt=""></div>
                                <div class="mdc-list-item"><img src="./Asset/img/mastercard.png" width="130px" alt=""></div>
                                <div class="mdc-list-item"><img src="./Asset/img/Amex.png" width="130px"alt=""></div>
                            </div>
                            <div class="cardInfo1">
                                <table style="width:100%;" >
                                    <tr>
                                        <td colspan="2">
                                            <div >
                                                Name on card
                                                <input type="text" class="motorSelector2 supInput">
                                            </div>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td  colspan="2">
                                            <div style="margin-top:20px;">
                                            Card number
                                            <input type="text" class="motorSelector2 supInput">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div style="margin-top:20px;">
                                                Expiration date
                                                <input type="text" class="motorSelector2 supInput">
                                            </div>
                                        </td>                                            
                                        <td>
                                            <div style="margin-top:20px; ">
                                                CVV
                                                <input type="text" class="motorSelector2 supInput">
                                            </div>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="2"><hr style="margin-top:30px"></td>
                                    </tr>
                                    <tr>
                                        
                                            <td>Order</td>
                                            <td style="text-align: right"><input style="text-align: right; margin-top: 10px; " class="motorSelector11" type="text" id="value2" readonly></td>
                                       
                                        
                                    </tr>
                                    <tr>
                                        
                                            <td>Tax</td>
                                            <td style="text-align: right"><input style="text-align: right; margin-top: 10px; " class="motorSelector11" type="text" id="value3" readonly></td>
                                        
                                    </tr>
                                    <tr>
                                       
                                        <td>Total</td>
                                        <td style="text-align: right"><input style="text-align: right; margin-top: 10px; " class="motorSelector11" type="text" id="value4" readonly></td>
                                       
                                    </tr>            
                                    <tr>
                                        <td colspan="2">
                                            <button class="checkout"  id=""> <input  class="motorSelector11" style="color:white ;" type="text" id="value5" readonly> Check out <i class="bi bi-arrow-right checkarrow"></i></button>

                                        </td>
                                    </tr>                       
                                </table>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- quote insurance form -->
    <div class="row MouterB">
        <div class="col-md-1"></div>
        <div class="col-md-10 position-relative Mbander">
            <div class="Mcontent" id="inQuote">

                <form action="">
                    <table>
                        <tr>
                            <td style="width: 50%;">
                                <select onclick="discheck()" name="motortype" class="motorSelector1" id="motortype" ng-model="motorType">
                                    <option value="0" selected> choose vehicle type</option>
                                    <option value="60000" >Under 50cc</option>
                                    <option value="70000">Above 50cc</option>
                                    <option value="50000">Electric bike</option>
    
                                </select>
                            </td>
                            <td>
                                
                                <select class="motorSelector1" id="nbDays" ng-model="option">
                                    <option value="0" selected >choose insurance plans</option>
                                    <option value="3"  >Insurance for 3 years</option>
                                    <option value="2">Insurance for 2 years</option>
                                    <option value="1">Insurance for 1 years</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Insurance Duration</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="motorSelector2"><input class="motorSelector3" id="startDate" type="date"> to <input class="motorSelector3" type="text" id="endDate" readonly></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input style class="myCheckbox" id="occupant" type="checkbox" value="20000" >occupant accident insurance: 20,000 VND/Year</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b> Total cost (VAT included)</b></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <div class="motorSelector4"><input style="text-align: center; color: #ffff;" class="motorSelector3" type="text" id="value" readonly></div> </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="button" class="MotorBut1" id="next1" ng-click="Add()">Next</button></td>
                        </tr>
                    </table>
                </form>
            </div>
    <!-- customer input form  -->
            <div class="Mcontent Mcontent2" id="clientForm">

                <form action="" name="myForm">
                    <table>
                        <tr>
                            <td style="width: 50%;">
                                <div class="motorSelector2">
                                    <input class="input_text1" placeholder="Your fullname" name="clientName" type="text" ng-model="clientName" required>
                                </div>
                            </td>
                            <td>
                                <div class="motorSelector2">
                                    <input class="input_text1" placeholder="Contact number" type="text" name="clientPhone" ng-model="clientPhone" required pattern="\d{11}"> <br>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">
                                <div class="motorSelector2">
                                    <input class="input_text1" placeholder="Email address" type="text" name="clientEmail" ng-model="clientEmail" pattern="\w+@\w+[.][a-z]{2,3}" required>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="motorSelector2">
                                    <input class="input_text1" placeholder="Vehicle register area" type="text" name="clientCity" ng-model="clientCity" req>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select class="motorSelector2" name="plateStatus" ng-model="plateStatus" required>
                                    <option value="">Licences plate status....</option>
                                    <option value="Registered">Registered</option>
                                    <option value="not yet register">not yet register</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; text-align: left; padding-left: 20px;">Payment method: </td>
                            <td><span class="error" style="color: red;" ng-show="myForm.clientPhone.$dirty && myForm.clientPhone.$error.pattern">Invalid Phone number</span>
                                <span class="error" style="color: red;" ng-show="myForm.clientEmail.$dirty && myForm.clientEmail.$error.pattern">Invalid email</span>
                                <span class="error" style="color: red;" ng-show="myForm.clientName.$dirty && myForm.clientName.$error.required">Full name is required</span>
                                <span class="error" style="color: red;" ng-show="myForm.clientCity.$dirty && myForm.clientCity.$error.required">City is required</span>
                                <span class="error" style="color: red;" ng-show="myForm.plateStatus.$dirty && myForm.plateStatus.$error.required">plate status is required</span>
                                <span class="error" style="color: red;" ng-show="myForm.checkbox.$error.required">Please reader and agree policy</span>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select class="motorSelector5">
                                    <option value="">Choose payment method</option>
                                    <option value="cd" class="payOption">Credit/Debit card</option>
                                    <option value="ATM">ATM Napas</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" ><div style="display:flex; width: 90%; margin: auto;"><input style class="myCheckbox" name="checkbox" ng-model="checkbox" type="checkbox" required> <div class="Policytxt">I agree to <u>Financial Field's privacy policy</u>  and <u>contact policy</u> , and agree to receive communications from Financial Field and its partners until a formal request to decline.</div></div></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="button" class="MotorBut1" id="back1">Back</button> 
                                <button type="button" class="MotorBut1" id="next2"
                                ng-disabled="myForm.clientEmail.$error.pattern || myForm.clientEmail.$error.required || myForm.clientPhone.$error.pattern
                                || myForm.clientPhone.$error.required
                                || myForm.clientCity.$error.required
                                || myForm.clientName.$error.required
                                || myForm.plateStatus.$error.required
                                || myForm.checkbox.$error.required">Next</button></td>
                        </tr>
                    </table>
                </form>
                
            </div>
        </div>
    </div>
    <!-- promotion -->
    <div class="col-lg-10 myPromotion">
        <table align="center">
            <tr>
                <td style="width:33.33%;">
                    <div class="promoBox">
                        <img src="./Asset/img/dollaricon.webp" alt="">
                        <p class="fee" style="margin-left:20px">Sale off:  <br>
                        <b>Only 66.000 VND/year</b></p>
                        <p class="fee" style="margin-left:20px; display:none;">
                            <b>Fee will change depend on Vehicle</b></p>
                        <button class="nexti" id="fee"><i class="bi bi-chevron-right "></i></button>
                    </div>
                </td>
                <td style="width:33.33%;">
                    <div class="promoBox">
                        <img src="./Asset/img/crown icon.webp" alt="">
                        <p class="compen" style="margin-left:20px">Compensation:  <br>
                            <b>up to 150 Million VND</b></p>
                            <p class="compen" style="margin-left:20px; display: none;">
                                <b>For person: 150mil VND and for vehicle 50mil VND </b></p>
                            <button class="nexti" id="CompenB"><i class="bi bi-chevron-right "></i></button>
                            
                    </div>
                </td>
                <td>
                    <div class="promoBox">
                        <img src="./Asset/img/card icon.webp" alt="">
                        <p class="pay" style="margin-left:20px">Payment Method:  <br>
                            <b>Online</b></p>
                        <p class="pay" style="margin-left:20px; display: none;">
                            <b>receive electronic insurance </b></p>
                            <button class="nexti" id="paybutton"><i class="bi bi-chevron-right "></i></button>
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
    <!-- responsive protion -->
    <div class="myPromotion2">
        <div class="promoBox">
            <img src="./Asset/img/dollaricon.webp" alt="">
            <p style="margin-left:20px">Sale off:  <br>
            <b>Only 66.000 VND/year</b></p>
            <button class="nexti"><i class="bi bi-chevron-right "></i></button>
        </div>
        <div class="promoBox">
            <img src="./Asset/img/crown icon.webp" alt="">
            <p style="margin-left:20px">Compensation:  <br>
                <b>up to 150 Million VND</b></p>
                <button class="nexti"><i class="bi bi-chevron-right "></i></button>
        </div>
        <div class="promoBox">
            <img src="./Asset/img/card icon.webp" alt="">
            <p id="pay" style="margin-left:20px">Payment Method:  <br>
                <b>Online</b>
            </p>
                <button class="nexti" id="paybutton"><i class="bi bi-chevron-right"></i></button>
        </div>
        
    </div>        
    <!-- process information -->
    <div class="processContainer">
        <div class="Mtab1">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link active Mbutton" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">INTRODUCE</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link Mbutton " id="pills-profile-tab " data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">PROCESS</button>
                </li>
            </ul>
        </div>
         <div class="contentBox2">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="subProcessContainer">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active Mbutton2" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Introduction</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link Mbutton2" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Applicable Object</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link Mbutton2" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Effective time</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link Mbutton2" id="compensation-tab" data-bs-toggle="tab" data-bs-target="#compensation" type="button" role="tab" aria-controls="compensation" aria-selected="false">Compensation</button>
                              </li>
                          </ul>
                    </div>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active contentbox3" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <p>Compulsory civil liability insurance 
                                of motor vehicle owners is a type of compulsory 
                                insurance prescribed by the State. All motor vehicle owners,
                                 individuals, organizations (including foreigners) owning motor vehicles in Vietnam must participate in order to protect and ensure the interests of third parties if they are unfortunately injured. and property caused by traffic accidents.</p>
                        </div>
                        <div class="tab-pane fade contentbox3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            Motor vehicle owners participating in traffic and operating in the territory of the Socialist Republic of Vietnam.
                        </div>
                        <div class="tab-pane fade contentbox3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <ul>
                                <li>The insurance validity begins and ends according to the period stated in the <b> Certificate of Insurance</b>.</li>
                                <li>For two-wheeled, three-wheeled motorcycles, mopeds (including electric scooters) and vehicles of similar structure as prescribed by the Road Traffic Law, <b>the minimum insurance period is 1 year and maximum of 3 years</b> .</li>
                                <li>During the valid period indicated on <b>the Certificate of Insurance</b> , if there is a transfer of motor vehicle ownership, all insurance benefits related to the civil liability of the old motor vehicle owner will still be valid for the owner. new motor vehicle.</li>
                            
                            </ul>
                        </div>
                        <div class="tab-pane fade contentbox3" id="compensation" role="tabpanel" aria-labelledby="compensation-tab">
                            <ul>
                                <li>
                                    The time limit for claiming compensation is <b>1 year</b>  from the date of the accident, except in case of delay due to objective and force majeure causes as prescribed by law.
                                </li>
                                <li>
                                   <b>Within 5 working days from the date of the accident</b>  (except in case of force majeure), the insurance buyer and the insured must send the accident notice in writing or via electronic form to the insurance company. insurance industry.
                                </li>
                                <li>
                                    The time limit for compensation payment of the insurer is <b>15 days</b>  from the date of receipt of a complete and valid insurance claim dossier and <b>no later than 30 days</b>  from the date of receipt of a complete insurance claim dossier. valid insurance in the event that the verification of records is required.
                                </li>
                                <li>
                                    In case of refusal to indemnify, the insurer must notify in writing the insurance buyer and the insured the reason for the refusal within 30 days from the date of receipt of a complete claim dossier. valid insurance claim.
                                </li>
                                <li>
                                    The dossier includes the documents specified in Article 15 of Decree No. 03/2021/ND-CP issued on January 15, 2021 by the Government on civil liability insurance of motor vehicle owners.
                                </li>
                            </ul>
                        </div>
                        
                      </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="Mprocess">
                        <img src="./Asset/img/dien-form.png" alt="" width="200px">
                        <div><i class="bi bi-arrow-right-short arrow1"></i></div>
                        <img src="./Asset/img/thanh-toan.png" alt="" width="200px">
                        <div><i class="bi bi-arrow-right-short arrow1"></i></div>
                        <img src="./Asset/img/nhan-hop-dong.png" alt="" width="200px">
                    </div>
                    <div class="Mprocess2">
                        <div>
                            <h2 class="processDes">Step 1</h2>
                            Fill in register form
                        </div>
                        <div>
                            <h2 class="processDes">Step 2</h2>
                            Pay insurance fee
                        </div>
                        <div>
                            <h2 class="processDes">Step 3</h2>
                            Recieved insurance<br> 
                            contract
                        </div>
                    </div>
                        
                </div>
            </div>
         </div>   
            
    </div>
    <!-- Order information -->
   
</div>
<script>
$('.mdc-list-item').on("click",function(){
    var isClicked = $(this).hasClass("list-item-clicked"); // am I clicked?
    $('.mdc-list-item').removeClass("list-item-clicked");  // un-click everything
    if(!isClicked)
        $(this).toggleClass("list-item-clicked"); // click me if needed
})

$(document).ready(function(){
  $("#editbtn").click(function(){
    $("#paymentContainer").toggle();
    });
    });

$(document).ready(function(){
  $("#next2").click(function(){
    $("#paymentContainer").toggle();
    });
    });

$(document).ready(function(){
  $("#next1").click(function(){
    $("#clientForm").toggle();
    $("#inQuote").toggle();
    });
    });

$(document).ready(function(){
  $("#back1").click(function(){
    $("#clientForm").toggle();
    $("#inQuote").toggle();
    });
    });
    


    $(document).ready(function(){
  $("#fee").click(function(){
    $(".fee").toggle();
    });
    });

    $(document).ready(function(){
  $("#paybutton").click(function(){
    $(".pay").toggle();
    });
    });

    $(document).ready(function(){
  $("#CompenB").click(function(){
    $(".compen").toggle();
    });
    });

    $(document).on('change', "#startDate", function (e) {
    e.preventDefault();
        
        var nbdays_string = $("#nbDays").val();
        if (nbdays_string == 3){
            nbdays_string = 1095;
        } else if (nbdays_string == 2) {
            nbdays_string = 730;
        } else {
            nbdays_string = 365;
        }
        var startDate_string = $("#startDate").val();
        
        var nbdays  = parseFloat( nbdays_string ) 
        var startDate = moment(startDate_string);
        
        var endDate = startDate.add( nbdays, 'days').format('MM/DD/YYYY');

        $("#endDate").val(endDate);


    });

    
    
    $(document).on('change load', "#motortype", function (e) {
        e.preventDefault();
        var motortype= $("#motortype").val();
        var years = $("#nbDays").val();
        var value = parseFloat(motortype) * parseFloat(years);
        var tax = value * 0.1;
        var total = value + tax;

        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'VND',
            });
        $("#value").val(formatter.format(value))
        $("#value2").val(formatter.format(value))
        $("#value3").val(formatter.format(tax))
        $("#value4").val(formatter.format(total))
        $("#value5").val(formatter.format(total))
    });

    $(document).on('change', "#nbDays", function (e) {
        e.preventDefault();
        var motortype= $("#motortype").val();
        var years = $("#nbDays").val();       
        var value = parseFloat(motortype) * parseFloat(years);
        var tax = value * 0.1;
        var total = value + tax;

        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'VND',
            });
        $("#value").val(formatter.format(value))
        $("#value2").val(formatter.format(value))
        $("#value3").val(formatter.format(tax))
        $("#value4").val(formatter.format(total))
        $("#value5").val(formatter.format(total))

    });

    $(document).on('change', "#occupant", function (e) {
        e.preventDefault();
        var motortype= $("#motortype").val();
        var years = $("#nbDays").val();       
        var value = parseFloat(motortype) * parseFloat(years);
        if ($("#occupant").is(':checked')){
            var occupant = 20000;
        } else {
            occupant = 0;
        }
        var value = parseFloat(value) + parseFloat(occupant);
        var tax = value * 0.1;
        var total = value + tax;

        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'VND',
            });
        $("#value").val(formatter.format(value))
        $("#value2").val(formatter.format(value))
        $("#value3").val(formatter.format(tax))
        $("#value4").val(formatter.format(total))
        $("#value5").val(formatter.format(total))
    });

     
</script>
